   a
    {
    text-decoration: none;
    color: gray;
    } @media screen and (max-width: 767px) {}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;}

    .nav-item.dropdown .dropdown-toggle::after {
    display: none;}

    .nav-item.dropdown:hover .nav-link {
        text-decoration: underline;}

    .dropdown-menu {
       /* Adjust the values as needed */
       border: none;
         --bs-dropdown-link-active-bg: #F5F5F5;
    }

    .dropdown-menu .dropdown-item {
        /* Adjust the values as needed */
        transition: background-color 0.3s;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #f0f0f0; /* Change to your desired hover color */
    }

    .nav-item {
        margin-right: 50px; /* Adjust the value as needed */
    }
    
    .align-items-center {
    align-items: baseline!important;
}
       a
    {
    text-decoration: none;
    color: gray;
    }
    
     #top
{
   
    background-color: #F5F5F5;
    display: flex;
   
                flex-direction: column;
                align-items: center;
              
}
#jordan
{
    height: 40px;
    max-width: 60px;
    position: relative;
    left: 32px
 
}
#img1
{
    height:24px; 
    width:24px;
    position: absolute;
    left: 28%;
    top: 19%;
}

#a1
{
    color: rgb(59, 56, 56);
    text-decoration: none;
    font-size: small;
}
#findstore
{
   
    display: flex;
    width: 99px;
    padding-top: 4px;

}
#help
{
    position: relative;
    right: 12px;
    top: 1px;


}
#join
{
    display: flex;
    width: 50px;
    padding-top: 4px;

}
#sign
{
    display: flex;
    width: 58px;
    position: relative;
    left: -44px;
   top: -4px
   
}
   #top2
{
    background: #fff;
   
    height: 60px;
    width: 100%;
    transition: transform .15s ease;
    display: flex;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 185px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    right: 45px;
    background-color:  #F5F5F5;
    border: transparent;
  }
  
  .search-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    background: transparent;
  }
  
  .feather {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    stroke-width: 2;
  }
  @media screen and (max-width: 768px) {
            #nikelogo {
                max-width: 50px;
                margin-left: 10px;
            }

            .search-bar {
                width: 100%;
                max-width: none;
                right: 0;
                margin: 10px 0;
            }

            .search-input {
                display: block;
                width: 100%;
                margin-top: 10px;
            }

            .button-container {
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
            }
        }
  @media screen and (max-width: 600px) {
 
    .search-bar {
      justify-content: flex-start;
      padding: 10px;
    }
  
    .search-input {
      display: none;
    }
  
    .search-icon {
      margin-right: 0;
    }}
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9vh;
      }
      
      .favorite-button,
      .cart-button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 50%;
        margin: 0 15px;
      }
      
      .favorite-button:hover,
      .cart-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
       
      }
      .feather-heart:active
      {
      fill: black;}
      
      
      
      .feather {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
      }
    #nikelogo
{
    max-width: 70px;
    max-height: 100%;
    margin-left: 47px;
}
#option
{
    max-height: 100%;
    width: 70%;
    border: 1px black;
    margin-left: 225px;
  
}
.bg-light {
    background: white;
    --bs-bg-opacity: none;
}

  .image-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .image-card {
            width: calc(33.33% - 20px); /* Adjust based on your padding/margins */
            margin: 10px; /* Adjust as needed */
            /* Additional styling for the card */
        }
      
        body
        {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
	.justify-content-center {
    justify-content: right !important;
   
    
}
.nav-link{
	margin-left: 10px;
	padding: none !important;
}

.flex-container {
    padding: 1%;
}
     

        @media screen and (max-width: 767px) {
        
        
        
            /* Adjustments for smaller screens */
            #nikelogo {
                max-width: 50px;
                margin-left: 10px;
            }
        }
          .add-to-cart-button {
    background-color: #F5F5F5;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

/* Hover effect */
.add-to-cart-button:hover {
    background-color: darkgrey;
}

     